
<header>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                <i class="bi bi-box-seam me-2"> </i> ProductStore
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"> </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" asp-controller="Home" asp-action="Index"> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Products" asp-action="Index"> Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"> Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"> About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"> Contact</a>
                    </li>
                    <li class="nav-item ms-3">
                        <a class="btn btn-primary-custom" href="#">
                            <i class="bi bi-cart3 me-2"> </i> Shop Now
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
